<?xml version="1.0" ?>
<model>
    <name>door_traversal_model</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Ahaan Kotian</name>
        <email>ahaan.kotian@outlook.com</email>
    </author>
    <description>Door Traversal model(not world)</description>
</model>
